<div class="row  search">
    <form class="d-flex">
        <i class="fa-solid fa-magnifying-glass" id="search"></i>
        <input class="form-control me-2" type="text" placeholder="search number..." name="User_Mobile" [(ngModel)]="User_Mobile" (ngModelChange)="Search()">
    </form>
    
        <button routerLink="/create-user" class="button">Create User</button>
    
</div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Phone Number</th>
                <th>Name</th>
                <th>Registration Date</th>
               
            </tr>
            <tr *ngFor="let use of use | paginate: {itemsPerPage:6,currentPage:p};">
                <td>{{use.id}}</td>
                <td>{{use.User_Mobile}}</td>
                <td>{{use.User_Name}}</td>
                <td>{{use.User_Reg_Date}}</td>
                <td>
                    <button (click)="userDetails(use.id)" class="btn-detail">Details</button>
                    <button (click)="editDetails(use.id)" class="btn-edit" >Edit</button>
                    <button (click)="removeUser(use.id)" class="btn-delete">Delete</button>
                </td>
                
                
            </tr> 
            
        </table>
        <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
    </div>





