<div class="row  search">
    <form class="d-flex">
        <i class="fa-solid fa-magnifying-glass" id="search"></i>
        <input class="form-control me-2" type="text" placeholder="search number..." name="RecipientNumber" name="RecipientNumber">
        
    </form>
</div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Phone Number</th>
                <th>Balance</th>
            </tr>
            <tr *ngFor="let balance of bal  | paginate: {itemsPerPage:6,currentPage:p};">
                <td>{{balance.RecipientNumber}}</td>
                <td>{{balance.Balance}}</td>
            </tr> 
        </table>
        <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
    </div>


