<div class="row row-1">
  <div class="col-sm-3">
    <div class="card">
      <div class="icon-1">
        <i class="fa-solid fa-table  icconn"></i>
      </div>
      <div class="card-body">
        <h6 class="card-title">Today's Sessions</h6> 
          <h4 class="card-text">{{sess.length}}</h4>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="icon-2">
        <i class="fa-solid fa-user  icconn"></i>
      </div>
      <div class="card-body">
        <h6 class="card-title">Today's Users</h6>
        <h4 class="card-text">{{use.length}}</h4>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card">
        <div class="icon-4">
          <i class="fa-solid fa-cart-shopping  icconn"></i>
        </div>
        <div class="card-body">
          <h6 class="card-title">Total Purchases</h6>
          <h4 class="card-text">{{buy.length}}</h4>
          <div class="line"></div>
        </div>
      </div>
    </div>
</div>

<div class="row row-2">
  <div class="col-sm-3">
    <div class="card">
      <div class="icon-5">
        <i class="fa-solid fa-gift  icconn"></i>
      </div>
      <div class="card-body">
        <h6 class="card-title">Total Redemption</h6>
        <h4 class="card-text">{{redeem.length}}</h4>
        <div class="line"></div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="icon-6">
        <i class="fa-solid fa-credit-card  icconn"></i>
      </div>
      <div class="card-body">
        <h6 class="card-title">Balance Check</h6>
        <h4 class="card-text">{{bal.length}}</h4>
        <div class="line"></div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="icon-7">
        <i class="fa-sharp fa-solid fa-share-nodes  icconn"></i>
      </div>
      <div class="card-body">
        <h6 class="card-title">Refer Friend</h6>
        <h4 class="card-text">{{sharing.length}}</h4>
        <div class="line"></div>
      </div>
    </div>
  </div>










<!-- 
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">Purchases</h5>
            <div class="button">
              <button routerLink="/purchases">View More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">Redemption</h5>
            <div class="button" id="check">
              <button routerLink="/redemption">View More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Wallets</h5>
              <div class="button">
                  <button routerLink="/wallets">View More</button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Balance Checks</h5>
              <div class="button" id="check">
                  <button routerLink="/balance">View More</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="row  mt-5">
     
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">Contacts</h5>
            <div class="button">
              <button routerLink="/contacts">View More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Refer Friend</h5>
              <div class="button" id="check">
                  <button routerLink="/friend">View More</button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">How It Works</h5>
              <div class="button" id="check">
                  <button routerLink="/work">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Share Gift</h5>
              <div class="button" id="check">
                  <button routerLink="/share">View More</button>
              </div>
            </div>
          </div>
        </div>
  </div>

<div class="lastcol">
  <div class="row mt-5">
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Total Sessions</h5>
              <div class="button" id="check">
                  <button routerLink="/sessions">View More</button>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>    


    

 -->
