.all{ 
    display: flex;
    margin-top: 4rem;
    margin-left: 3rem;
}

.circles{
    /* margin-left: 3rem;  */
    margin-bottom: 2rem;
    margin-top: -1rem; 
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    background-color: #f3fdf7;
}

.skill{
    /* margin-left: 1.2rem; */
    margin-bottom: 2rem;
    margin-top: -3rem; 
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    background-color: #fff7f5;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}               
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
               inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
               -0.5px -0.5px 0px rgba(255, 255, 255, 1),
               0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
               0px 12px 10px -10px rgba(0, 0, 0, 0.05);
} 


h2{
    font-weight: 900;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}
.circle-1{
    fill: none;
    stroke: #f75c1e;
    /* stroke: url(#GradientColor); */
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
.circle-2{
    fill: none;
    stroke: #15a043;
    /* stroke: url(#GradientColor); */
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anime 2s linear forwards;
}
@keyframes anim{
    100%{
        stroke-dashoffset: -500;
    }
}
@keyframes anime{
    100%{
        stroke-dashoffset: 382;
    }
}

.card-1{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin-right: 3rem;
}
.card-2{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
}
.purch{
    position: absolute;
    left: 1;
    right: 1;
    z-index: 2;
}
.red{
    margin-top: -5rem;
    margin-left: -5rem;
}
.card-title-1{
    margin-top: 2rem;
}











.card-text{
    text-align: center;
    font-weight: 600;
}
.card-title{
    text-align: center;
}
.row-1{
    margin-left: 1rem;
}
.row-2{
    margin-left: 9rem;
    margin-bottom: 1rem;
}
.card{
    border-radius: 15px;
    box-shadow: 0 10px 14px 0 rgba(53, 96, 124, 0.2), 0 6px 20px 0 rgba(53, 96, 124, 0.2);
}
.button{
    text-align: center;
}
.lastcol{
    text-align: center;
}

button{
    background-color:#264657 ;
    color: rgb(247, 243, 241);
    text-align: center;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    
}
h5{
    margin-bottom: 2rem;
}

.icon-1{
    background-color: #264657;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.icon-2{
    background-color: #f52e7a;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.icon-3{
    background-color: #ac0614;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.icon-4{
    background-color: #f75c1e;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.icon-5{
    background-color: #15a043;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.icon-6{
    background-color: #f7991e;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icon-7{
    background-color: #1e8ef7;
    width: 3rem;
    height: 3rem;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icconn{
    margin-right: 1rem;
    margin-left: 0.8rem;
    margin-top: 0.9rem;
    font-size: 22px;
    
}
.line{
    border: rgb(214, 212, 212) 1px solid;
}

.image-box-1{
    background-color: #f52e7a;
    height: 13rem;
}
.image-box-2{
    background-color: #264657;
    height: 13rem;
}
.image-box-3{
    background-color: #ac0614;
    height: 13rem;
}
.social{
    width: 3rem;
    margin-right: 3rem;
}
footer{
    margin-left: 30rem;
    margin-top: 2rem;
}
.footer-line{
    border: rgb(212, 208, 208) 1px solid;
}
.chartt{
    margin-left: 3rem;
    font-size: 10rem;
    color: #fff;
}


@media (max-width: 580px){
    .all{
        display: inline;
    }
    .row-2{
        margin-left: -1rem;
    }
    .card{
        margin-bottom: 1rem;
    }
    
}



@media (max-width:300px){
   .card{
    height: 10rem;
    width: 15rem;
   }
   .row-1{
    margin-left: 0;
   }
   .row-2{
    margin-left: 0.55rem;
   }
   .card-1{
    height: 22rem;
    width: 20rem;
    
   }
   .card-2{
    height: 22rem;
    width: 20rem;
   }
}
@media(min-width:767px) and (max-width:821px){
    
    #check{
        margin-bottom: 7rem;
    }
    .col-sm-3{
        height: 3rem;
        margin-bottom: 2rem;
    }
    .card{
        margin-bottom: 2rem;
    }
    .row-2{
        margin-top: 7rem;
        margin-left: -1rem;
        
    }
}

