
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">Purchases</h5>
            <div class="button">
              <button routerLink="/purchases">View More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">Redemption</h5>
            <div class="button">
              <button routerLink="/redemption">View More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Wallets</h5>
              <div class="button">
                  <button routerLink="/wallets">View More</button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Balance Checks</h5>
              <div class="button">
                  <button routerLink="/balance">View More</button>
              </div>
            </div>
          </div>
        </div>
  </div>

  <div class="row  mt-5">
     
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h5 class="card-text">Contacts</h5>
            <div class="button">
              <button routerLink="/contacts">View More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Refer Friend</h5>
              <div class="button">
                  <button routerLink="/friend">View More</button>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">How It Works</h5>
              <div class="button">
                  <button routerLink="/work">View More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Share Gift</h5>
              <div class="button">
                  <button routerLink="/share">View More</button>
              </div>
            </div>
          </div>
        </div>
  </div>

<div class="lastcol">
  <div class="row mt-5">
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h5 class="card-text">Total Sessions</h5>
              <div class="button">
                  <button routerLink="/sessions">View More</button>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>    


    


